@font-face {
    font-family: 'Stars';
    src: url('../font/Starjedi.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
background-color: black;
}

h1 { 
    font-family: "Stars";
    color: yellow;
}